<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>wiki禁止访问页</title>
    <style>
        tbody tr{
            height:25px;
            border: 1px solid #E2E2E2;
        }
    </style>
</head>
<body>
   <h1 style="color:red">注意</h1>
   <div style="border: 1px solid gray"></div>
   <h2>此目录不允许访问。</h2>
   <p>如需申请权限，请根据url 确定目录后，给对应权限负责人发送申请邮件，告知所在部门、职位、申请目录
       url及申请原因 并请上级经理审批。<br/>
       <br/>
       例：url为wiki.babel.baidu.com/twiki/bin/oops/Ps/Rank/XXX（飘红部分为对应目录）
   </p>
   <table>
       <thead style="background-color:#687684">
          <tr>
              <th style="width: 70px">目录</th>
              <th style="width: 90px">权限负责人</th>
              <th style="width: 190px">邮箱</th>
          </tr>
       </thead>
       <tbody>
        <tr>
            <td>main</td>
            <td>张猛</td>
            <td>......</td>
        </tr>
        <tr style="background-color: #EDF4F9">
            <td>main</td>
            <td>张猛</td>
            <td>......</td>
        </tr>
       </tbody>
   </table>
</body>
</html>